@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.App {
  font-family: "Nunito", serif;
}

.App-header {
  background-color:#1e1e1e;
}

.App-footer {
  background-color:#eee;
  color: #444;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

.App-link {
  width: 4vmin;
  height: 4vmin;
}

.header-link {
  color: #eee;
  text-decoration: none;
  margin-top: 16px;
}

.header-link:hover {
  color: #0d6efd;
}

.footer-link {
  color: #444;
  text-decoration: none;
}

.footer-link:hover {
  color: #0d6efd;
}

iframe {
  border: 1px solid black;
  width: 100%; /* priorité sur la largeur définie avec l'attribut HTML width */
}

/* DEBUT ANIMATION LOGO */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
/* FIN ANIMATION LOGO */







