@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.App {
  font-family: "Nunito", serif;
  /* font-size: calc(10px + 2vmin); */
}

.App-header {
  background-color: #1e1e1e;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

.App-link {
  width: 6vmin;
  height: 6vmin;
}

/* DEBUT ANIMATION LOGO */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
/* FIN ANIMATION LOGO */

.App-footer {
  background-color:#444;
}






